@font-face {
    font-family: "Bruce Forever";
    src: url(../../Font/bruce-forever/BruceForever.ttf);
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(../../Font/Plus-Jakarta-Sans/PlusJakartaSans-Regular.ttf);
}
@font-face {
    font-family: "Plus Jakarta Sans Bold";
    src: url(../../Font/Plus-Jakarta-Sans/PlusJakartaSans-Bold.ttf);
}
