@import "./dark_block/header";
@import "./dark_block/body";
@import "./dark_block/font";
@import "./dark_block/footer";
@import "./dark_block/modal";
@import "./dark_block/_news_page";
body {
  transition: 1s;
  margin: 0;
  font-family: "Bruce Forever", sans-serif;
  background-color: rgb(20, 20, 20);
}
