@import "./block/header";
@import "./block/body";
@import "./block/font";
@import "./block/footer";
body {
  transition: 1s;
  margin: 0;
  font-family: "Bruce Forever", sans-serif;
  background-color: rgb(255, 255, 255);
}
